<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stasney-Dean Cookbook</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'cookbook:index' %}">Home</a></li>
      <li><a href="{% url 'cookbook:browse_recipes' %}">Browse Recipes</a></li>
      <li><a href="{% url 'cookbook:new_recipe' %}">Create New Recipe</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li>
        <span class="navbar-text"> 
          Currently logged in as {{ user.username}} 
        </span>
      </li>
      <li>
        <a href="{% url 'cookbook:logout' %}"><span class="glyphicon glyphicon-log-in">
          </span> Logout
        </a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'cookbook:create_user' %}">
          <span class="glyphicon glyphicon-user"></span> Sign Up
        </a>
      </li>
      <li>
        <a href="{% url 'cookbook:login' %}">
          <span class="glyphicon glyphicon-log-in"></span> Login
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% block content %}{% endblock content %}
</body>
</html>
