{% extends "cookbook/base.html" %}
{% block title%}Home{% endblock title %}

{% block content %}  
<div class="container">
  <h3>Welcome to the Stasney-Dean Cookbook Site!</h3>
  <p>Here you can create, edit, and view recipes as part of the 2020 
  Stasney-Dean Family Cookbook.</p>
  <p>To start, you'll need to create an account. After that, I'll approve your
  account, and then you can get to creating recipes! In the mean time, you'll
  still be able to view recipes that have already been created.</p>
  <p> If you have any questions, e-mail me at frankie.betanco@gmail.com</p>
</div>
{% endblock content %}
